{% extends 'layout.html' %}

{% block content %}

<div class="col-md-4 offset-md-2">
    <div class="card card-body bg-secondary text-center" style="width: 800px;">
        <h1 class="h1" style="color: #fffc; text-decoration: underline;">Welcome<h1/>
        <p style="font-size: 30px;">
            Mi nombre es Juan Pablo Listte, soy estudiante de la Tecnicatura Universitaria en Programacion y estoy aprendiendo mediante cursos de internet a
            programar en Python utilizando Django.
            Mi meta a futuro es aplicar lo aprendido tanto en la universidad como los cursos en linea en un entorno profesional 
        </p>
    </div>
</div>

{% endblock %}